
/* Universal Styles */

* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header */

header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}
